/* about_me */
.about_me_container p{
    color: white;
    opacity: 70%;
    width: 380px;
    margin: auto;
    text-align: center;
    text-transform: uppercase;
}
/* work_pluses */
.work_pluses_container{
    margin-top: 100px;
    text-transform: uppercase;
    background-image: url("../res/pluses_work_background.jfif");
}
.work_pluses_container h2{
    padding-top: 24px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}
.work_pluses_container .plus_part{
    background-color: rgb(34, 33, 33);
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.work_pluses_container .plus_part .line{
    margin: 0;
}
.work_pluses_container .plus_part .plus{
    padding-left: 50px;
}
.work_pluses_container .plus_part p.number{
    color: rgb(155, 155, 8);
    opacity: 70%;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 30px;
}
.work_pluses_container .plus_part h3.plus_name{
    text-decoration: underline;
    color: rgb(189, 19, 231);
    letter-spacing: 1px;
}
.work_pluses_container .plus_part p.plus_description{
    color: white;
}
.work_pluses_container .plus_part img{
    width: 100%;
}